# Carpetas de compilación
bin/
obj/

# Configuraciones personales
.vs/
*.user
*.suo

# Archivos temporales de Office
~$*

# Archivos sensibles
appsettings.json
appsettings.*.json

# Archivos del sistema
Thumbs.db
